@charset "utf-8";
/* CSS Document */
/* DEFAULT IS LARGE SCREEN STYLED TO 1920PX */
@font-face {
    font-family:quote_font;
   	src:url(quote_font.ttf);
   /* src:url(../font/ShadowsIntoLight.ttf);*/
}
@font-face {
    font-family:heading_font;
   	src:url(heading-Black.ttf);
   /* src:url(../font/ShadowsIntoLight.ttf);*/
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#404040;
	background:#e2e2e2;
	margin:0;
	}
	#page_wrap{
		margin:o auto;
	}
	#room_to_page{
		
		width:1349px;
		height:0.8em;
		 background: -webkit-linear-gradient(#8f8f8f, #e2e2e2); /* For Safari 5.1 to 6.0 */
   		 background: -o-linear-gradient(#8f8f8f, #e2e2e2); /* For Opera 11.1 to 12.0 */
   		 background: -moz-linear-gradient(#8f8f8f, #e2e2e2); /* For Firefox 3.6 to 15 */
   		 background: linear-gradient(#8f8f8f, #e2e2e2); /* Standard syntax (must be last) */
	}
	#quote{
		text-align:center;
		width:100%;
		margin:0 auto;
		float:left;
		font-family:quote_font;
		font-size:2em;
		line-height:1em;
	}
	.sml_text{
		font-size:0.5em !important;
		color:#ff9540;
	}
@media screen and (max-width: 1366px) {
	/* standard screen */
.gold_bar{
	float:left;
	width:1349px;
	height:0.8em;
	background-color:#d1c6a7;
}
	#main_bg{
		width:1349px;
		height:633px;
		background-image:url(../imgs/room1366.jpg);
		background-size:cover;
	}
	#nav{
		margin:0 auto;
		width:20%;
		height:5em;
		
	}
	.nav_left{
		float:left;
		box-sizing:border-box;
		width:50%;
		
		text-align:right;
	}
	.nav_right{
		box-sizing:border-box;
		float:left;
		width:50%;
		border-left:1px solid #ff9540;
	}
	.nav_link{
		box-sizing:border-box;
		padding:0.3em;
		width:100%;
		height:1em;
	}
	#logo_kt_top{
		width:90%;
		margin:0 auto;
		height:3.5em;
		background-image:url(../imgs/ktlogo.png);
		background-size:50px 50px;
		background-repeat:no-repeat;
	}
	#center_main{
		margin:0 auto;
		width:90%;
		height:290px;
	}
	#left_block{
		position:relative;
		float:left;
		top:-90%;
		left:0px;
		background:#404040;
		height:100%;
		width:7%;
	}
	#right_block{
		position:relative;
		float:left;
		top:-90%;
		left:86%;
		background:#404040;
		height:100%;
		width:7%;
	}
	#center_boxes{
		position:relative;
		top:0;
		height:80%;
		width:95%;
		margin:0 auto;
		z-index:998;
		box-sizing:border-box;
		padding:0px;
		white-space: nowrap;
		
	}
	#center_text{
		position:relative;
		top:65%;
		left:0;
		font-size:3em;
		width:100%;
		text-align:center;
		z-index:999;
		
	}
	.center_box{
		width:10%;
		height:25%;
		background:#ff9540;
		float:left;
	}
	.orange_text{
		color:#ff8c30;
	}
	#wolf_logo{
		margin:0 auto;
		width:150px;
		height:200px;
		background-image:url(../imgs/wolflogo.png);
		background-size:82px 150px;
		background-position:center center;
		background-repeat:no-repeat;	
	}
	#web_text{
		position:relative;
		margin:0 auto;
		width:20%;
		height:1.4em;
		top:-20px;
		font-size:1.4em;
		letter-spacing:2px;
		text-align:center;
	}
	
	.wrapper{
		float:left;
		width:1349px;
		box-sizing:border-box;
		padding:1em;
	}
	.split_box{
		width:50%;
		float:left;
		box-sizing:border-box;
		height:500px;
	}
	.text_title{
		float:left;
		width:100%;
		height:25%;
		text-align:center;
	}
	.title_box{
		position:relative;
		top:20%;
		line-height:2em;
		margin:0 auto;
		width:30%;
		font-size:2em;
		font-family:heading_font;
		height:2em;
		border:2px solid #ff9540;
	}
	.text_main{
		margin:0 auto;
		width:90%;
		height:75%;
		box-sizing:border-box;
		padding:1em;
		font-size:1.3em;
		line-height:1.6em;
	}
	.left_border{
		border-left:1px solid #ff9540;
	}
	#logo_box{
		position:relative;
		margin:0 auto;
		top:300px;
		background-color:#e2e2e2;
		background-image:url(../imgs/ktlogo.png);
		background-repeat:no-repeat;
		background-size:cover;
		width:6%;
		height:80px;
	}
	.top_50{
		position:relative;
		top:-50px;
	}
	.long_top{
		margin:0 auto;
		text-align:center;
		width:50%;
		height:38%;
	}
	.set_height{
		height:330px !important;
	}
	.split_sml{
		width:50%;
		height:62%;
		float:left;
		box-sizing:border-box;
		padding:1em;
	}
	.text_sml{
		width:90%;
		margin:0 auto;
		font-size:1.3em;
		height:100%;
		line-height:1.6em;
	}
	.no_pad_wrapper{
		width:1349px;
		height:1000px;
		float:left;
	}
	.three_split{
		width:33.33%;
		height:50%;
		background:red;
		float:left;
		color:#ff9540;
		text-align:center;
		box-sizing:border-box;
		font-size:5em;
		font-family:heading_font;
		display: table; 
	}
	#festival_bg{
		background-image:url(../imgs/festival.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	#cloud_bg{
		background-image:url(../imgs/tv.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	#thought_bg{
		background-image:url(../imgs/thought.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	#drag_bg{
		background-image:url(../imgs/drag1.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	#form_bg{
		background-image:url(../imgs/bet.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	#draw_bg{
		background-image:url(../imgs/draw.png);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	.link_text{
		display: table-cell; 
	  	vertical-align: middle; 
	 	text-align: center; 
	}
	.long_bottom{
		margin:0 auto;
		height:62%;
		width:30%;
		text-align:center;
		box-sizing:border-box;
		padding:1em;
		font-size:1.3em;
		line-height:1.6em;
	}
	.orange_prop{
		color:#ff9540;
	}
	#profile_img{
		float:left;
		height:400px;
		width:100%;
		background-image:url(../imgs/profile1366.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	.set_height400{
		height:400px !important;
	}
	#bottom_kt_logo{
		margin:auto;
		width:20%;
		height:100%;
		background-image:url(../imgs/ktlogo.png);
		background-repeat:no-repeat;
		background-size:140px 140px;
		background-position:center;
	}
	
	
}
@media screen and (max-width: 1024px) {
	/* tablet wide screen */
}
@media screen and (max-width: 768px) {
	/* tablet tall screen */
}
@media screen and (max-width: 360px) {
	/* phone screen */
}
