@charset "utf-8";
/* CSS Document */
@font-face {
    font-family:quote_font;
   	src:url(../../css/quote_font.ttf);
}
@font-face {
    font-family:heading_font;
	src:url(../../css/heading-Black.ttf);
}
body{
	margin:0;
	font-family:Arial, Helvetica, sans-serif, Helvetica, sans-serif;
	font-size:1em;
}
a{
   color:inherit;
   text-decoration:none;
}
a:visted{
	color:inherit;
}
.bg_img{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
.fdp_bg{
	background-image:url(fdpmain.jpg);
	
}
.form_bg{
	background-image:url(bet_bg.jpg);
}
.draw_bg{
	background-image:url(drawmain.jpg);
}
.drag_bg{
	background-image:url(dragmain.jpg);
}
.thought_bg{
	background-image:url(thoughtmain.jpg);
}
#title_text{
	position:relative;
	top:20vh;
	margin:0 auto;
	width:50%;
	text-align:right;
	font-size:5em;
}
#quote,#author{
	font-family:quote_font;
	color:#fff;
	text-align:center;
	display:block;
}
#quote{
	font-size:2em;
}
#author{
	font-size:1em;
}
.long_quote{
	font-size:1.5em !important;
}
#quotebox::after{
	position:absolute;
	display:block;
	content:" ";
	bottom:-15px;
	left:50%;
	margin-left:-15px;
	z-index:999;
	width:30px;
	height:30px;
	background-color:inherit;
/*	background:#374abc;*/
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
}
#missiontitle{
	margin:0 auto;
	width:15%;
	height:2.2em;
	margin-top:70px;
	box-sizing:border-box;
	font-family:heading_font;
	font-size:2em;
	line-height:2em;
	text-align:center;
}
.split_box{
	float:left;
	width:50%;
	color:#404040;
	font-size:1.3em;
	line-height:1.6em;
	box-sizing:border-box;
	padding:1em;
}

.split_imgs{
	position:relative;
	width:33.33%;
	height:500px;
	float:left;
}
.split_imgs:before{
		position:absolute;
		z-index:99;
		display:block;
		top:0;
		left:0;
		content:" ";
		width:100%;
		height:100%;
		background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
		opacity:0;
		transition: all 1s;
	}
	.split_imgs:hover:before{
		opacity:1;
	}
	
	
#tvsets{
	background-image:url(tvsets.jpg);
}
#tvfly{
	background-image:url(tvfly.jpg);
}
#tvdead{
	background-image:url(deadtv.jpg);	
}

#fdpbass{
	background-image:url(fdpbass.jpg);
}
#fdptent{
	background-image:url(fdptent.jpg);
}
#fdpbeer{
	background-image:url(fdpbeer.jpg);
}

#betfan{
	background-image:url(betfan.jpg);
}
#bettable{
	background-image:url(bettable.jpg);
}
#betgoal{
	background-image:url(betgoal.jpg);
}

#drawart{
	background-image:url(drawart.jpg);
}
#drawcol{
	background-image:url(drawcol.jpg);
}
#drawlone{
	background-image:url(drawlone.jpg);
}

#dragplug{
	background-image:url(dragplug.jpg);
}
#dragstrip{
	background-image:url(dragstrip.jpg);
}
#dragcode{
	background-image:url(dragcode.jpg);
}

#thoughtcup{
	background-image:url(thoughtcup.jpg);
}
#thoughttree{
	background-image:url(thoughtpath.jpg);
}
#thoughtwrite{
	background-image:url(thoughtdiary.jpg);
}


.img_class{
	background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}

.split_links{
	width:33.33%;
	height:170px;
	float:left;
	font-family:heading_font;
	text-align:center;
	box-sizing:border-box;
	padding-top:2em;
	font-size:1.3em;
	line-height:2.7em;
	padding-left:1em;
	padding-right:1em;
	overflow:hidden;
}

#home_icon img,#film_icon img,#download_icon img,#frame_icon img{
	display:inline-block;
	position: relative;
	overflow:hidden; 
	position: relative;
	transition: all 0.3s ease-in-out;
}
#download_icon img,#frame_icon img{
	top: -50px;
	left:0px;
}
#home_icon img{
	  top: 0px;
	left:0px;
	cursor:pointer;
}
#film_icon img{
	top: 0px;
	left:-115px;
}
#download_icon,#frame_icon,#film_icon{
	margin:0 auto;
	height:40%;
	cursor:pointer;
	overflow:hidden !important;
}
#film_icon{
	width:29%;
}
#download_icon img:hover,#frame_icon img:hover{
	top:1px;
}
#film_icon img:hover{
	left:3px;
}
#linkswrap:after{
	position:absolute;
	bottom:-15px;
	left:50%;
	margin-left:-15px;
	content:" ";
	display:block;
	width:30px;
	height:30px;
	-webkit-transform:rotate(45deg);
	background:inherit;
}
#wrap{
	float:left;
	/*width:1349px;
	height:627px;*/
	overflow:hidden;
	margin:0 auto;
}

#main_bg{
	position:relative;
	/*width:1349px;
	height:627px;*/
}

video#bgvid {
position:absolute;
top: 0;
left: 0;
/*min-width: 1349px;
max-height: 627px;*/
-webkit-transform:scaleX(1.6);
overflow:hidden;
z-index: -100;
}
#main_bg::after{
	position:absolute;
	content:" ";
	display:block;
	top:0;
	left:0;
	/*width:1349px;
	height:627px;*/
	background-image:url(cloudpotato1.png);
	background-repeat:no-repeat;
	background-size:cover;
	box-sizing:border-box;
}
#quotebox{
	position:relative;
	float:left;
	/*width:1349px;
	height:120px;*/
	margin:0 auto;
	box-sizing:border-box;
	padding:1em;
	
}

#missionbox{
	/*width:1349px;
	height:150px;*/
	float:left;
}

.bar_blue{
	/*width:1349px;
	height:1em;*/
	float:left;
	
}

.border_blue{
	border:2px solid #374abc !important;
}
.color_blue{
	background:#374abc !important;
}
.text_blue{
	color:#374abc;
}
.shade1_blue{
	background:#232c63 !important;
}
.shade2_blue{
	background:#232535 !important;
}

.border_green{
	border:2px solid #2dbd4f !important;
}
.color_green{
	background:#2dbd4f !important;
}
.text_green{
	color:#2dbd4f;
}
.shade1_green{
	background:#56685a !important;
}
.shade2_green{
	background:#3c403d !important;
}


.border_red{
	border:2px solid #bc3a37  !important;
}
.color_red{
	background:#bc3a37 !important;
}
.text_red{
	color:#bc3a37;
}
.shade1_red{
	background:#632a28 !important;
}
.shade2_red{
	background:#331918 !important;
}


.border_yellow{
	border:2px solid #e9d239 !important;
}
.color_yellow{
	background:#e9d239 !important;
}
.text_yellow{
	color:#e9d239;
}
.shade1_yellow{
	background:#978d49 !important;
}
.shade2_yellow{
	background:#585338 !important;
}


.border_purple{
	border:2px solid #a939e9 !important;
}
.color_purple{
	background:#a939e9 !important;
}
.text_purple{
	color:#a939e9;
}
.shade1_purple{
	background:#5e3775 !important;
}
.shade2_purple{
	background:#3c2b47 !important;
}


.border_brown{
	border:2px solid #c4a477 !important;
}
.color_brown{
	background:#c4a477 !important;
}
.text_brown{
	color:#c4a477;
}
.shade1_brown{
	background:#7e6a4e !important;
}
.shade2_brown{
	background:#443a2d !important;
}

#full_bottom{
	box-sizing:border-box;
	padding-top:3em;
	text-align:center;
	float:left;
	font-family:heading_font;
	/*width:1349px;*/
	color:#fff;
	background:#232535;
}
#linkswrap{
	float:left;
	/*width:1349px;*/
	padding-bottom:2em;
	position:relative;
	color:#fff;
	background:#232c63;
}

@media screen and (max-width: 1366px) {
#wrap{
	width:1349px;
	height:627px;
}

#main_bg{
	width:1349px;
	height:627px;
}
#main_bg::after{
	width:1349px;
	height:627px;
	background-image:url(cloudpotato1.png);
}
video#bgvid {
min-width: 1349px;
max-height: 627px;
-webkit-transform:scaleX(1.6);
}




#quotebox{
	width:1349px;
	height:120px;
	
}

#missionbox{
	width:1349px;
	height:150px;
}

.bar_blue{
	width:1349px;
	height:1em;
}

#full_bottom{
	width:1349px;
}
#linkswrap{
	width:1349px;
}

}
@media screen and (max-width: 1024px) {
	/* tablet wide screen */
	#wrap{
	width:1024px;
	height:470px;
}

#main_bg{
	width:1024px;
	height:470px;
}
#main_bg::after{
	background-image:url(cloudpotato1024.png);
	background-size:100%;
}
video#bgvid {
min-width: 1024px;
max-height: 470px;
-webkit-transform:scaleX(1.7);
}

#main_bg::after{
	width:1024px;
	height:627px;
}
#quotebox{
	width:1024px;
	height:120px;
	
}

#missionbox{
	width:1024px;
	height:150px;
}

.bar_blue{
	width:1024px;
	height:1em;
}

#full_bottom{
	width:1024px;
}
#linkswrap{
	width:1024px;
}
#download_icon,#frame_icon{
	width:100%;
}
#film_icon{
	width:40%;
}
}
@media screen and (max-width: 768px) {
	/* tablet tall screen */
		#wrap{
	width:768px;
	height:613px;
}

#main_bg{
	width:768px;
	height:613px;
}

video#bgvid {
min-width: 768px;
max-height: 613px;
-webkit-transform:scaleX(1);
-webkit-transform:scaleY(1.1);

}
#main_bg::after{
	width:768px;
	height:613px;
	
	background-image:url(cloudpotato768.png);
	background-size:100%;
}
#quotebox{
	width:768px;
	height:120px;
	
}

#missionbox{
	width:768px;
	height:150px;
}

.bar_blue{
	width:768px;
	height:1em;
}

#full_bottom{
	width:768px;
}
#linkswrap{
	width:768px;
}
#missiontitle{
	width:20%;
}
#download_icon,#frame_icon{
	width:100%;
}
#film_icon{
	width:55%;
}
}
@media screen and (max-width: 360px) {
	/* phone screen */
	/* tablet tall screen */
		#wrap{
	width:360px;
	height:287px;
}
.fdp_bg,.form_bg,.draw_bg,.drag_bg,.thought_bg{
	height:100vh !important;
}

#main_bg{
	width:360px;
	height:287px;
}

video#bgvid {
min-width: 360px;
max-height: 287px;
}
#main_bg::after{
	width:360px;
	height:287px;
	background-image:url(cloudpotato360.png);
	background-size:100%;
}
#quotebox{
	width:360px;
	height:250px;
	
}

#missionbox{
	width:360px;
	height:150px;
}

.bar_blue{
	width:360px;
	height:1em;
}

#full_bottom{
	width:360px;
}
#linkswrap{
	width:360px;
}
#missiontitle{
	width:80%;
}
.split_box{
	width:100%;
}
.split_imgs{
	width:100%;
	height:200px;
}
#download_icon,#frame_icon,#film_icon{
	width:100%;
}
.split_links{
	padding:0.1em;
}
#title_text{
	width:100%;
	box-sizing:border-box;
	padding:0.5em;
	top:10vh;
	font-size:4em;
}
}